<h1 class="site-header">
    Lottery Resilt
</h1>
<div class="row">
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="row">
                <strong class="col-sm-4">Please select the lottery program:</strong>
                <div class="col-sm-4">
                    <select ng-if="!Status.LoadingPrograms" class="form-control" ng-model="data.programId" id="lotteryprogram" name="lotteryprogram" ng-change="lotteryProgramChanged(data.programId)" ng-options="lotteryprogram.Id as lotteryprogram.ProgramName for lotteryprogram in LotteryPrograms">
                        <option value="" selected>Lottery Programs</option>
                    </select>
                    <i ng-if="Status.LoadingPrograms" class="fa fa-3x fa-refresh fa-spin"></i>
                </div>
            </div>
            <div ng-if="data.programId" style="margin-top:50px" class="row">
                <div ng-if="!Status.LoadingWinners" ui-grid="LotteryWinnersOptions"></div>
                <i ng-if="Status.LoadingWinners" class="fa fa-3x fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</div>
