<!DOCTYPE html>
<html ng-app="lotteryresult">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lottery Result</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>
    <!-- inject:js -->
    <!-- endinject -->
    <div class="container body-content">
        @RenderBody()
    </div>


</body>
</html>
